doctype html
html(lang="en")
  head
    title Dev Card
    meta(http-equiv="Content-Type" content="text/html;charset=UTF-8")
  body
    div(class="card-container")
      div(class="card")
        div(class="front")
          img(src="./src/assets/images/logo.png" alt="front of card" class="logo")
        div(class="back")
          div(class="back-content")
            div(class="content-name")
            div(class="github link")
            div(class="linkedin link")
            div(class="twitter link")

    script(src="./src/index.ts")